<template>
    <div class="container" style="max-width: 50em">
        <h1>About Decide!</h1>

        <p>
        <strong>Decide!</strong> is an app that should help you make smarter choices. It's
        based on mathematical methods for
        <a href="https://en.wikipedia.org/wiki/Multiple-criteria_decision_analysis" target="_blank">
        Multiple-Criteria Decision Making (MCDM)</a>. These methods rank different alternatives when making a choice.
        They are an ideal tool if your goal is to choose one option out of many. We face such problems quite frequently.
        Just to give you a few examples:
        </p>

        <ul>
            <li>choosing a new laptop to buy,</li>
            <li>choosing a bank where we open an account,</li>
            <li>choosing a project on which our company should work,</li>
            <li>choosing among different candidates for a position,</li>
            <li>choosing a school for our children.</li>
        </ul>

        <p>As the name suggests, MCDM is based on the idea that we can use multiple <strong>criteria</strong> to
        evaluate different alternatives. When choosing a laptop, these criteria might include price, weight, battery
        life or computing power. Each criterion can have a different <strong>weight</strong> expressing how important
        each criterion is. Weights are usually expressed as positive numbers.</p>

        <p>After we define our criteria, we then need to describe the <strong>alternatives</strong> between which
        we are deciding. When defining an alternative, we need to provide a value for every criterion. In many cases,
        this information is easy to get. You can find the price, weight or estimated battery life of a laptop on the
        retailer's website. Some criteria, such as the reputation of a laptop manufacturer are more subjective and hard
        to measure. In this case we can express our opinion using a simple scale from 1 to 5.</p>

        <p>MCDM methods use information about alternatives and criteria to calculate the score of each alternative
        with higher score being usually better. Decide! currently implements 2 methods: Simple Weighted average and
        <a href="https://en.wikipedia.org/wiki/TOPSIS" target="_blank">TOPSIS</a>.</p>

        <h2>Why not just use intuition?</h2>

        <p>Many might think that using formal decision methods is an overkill. We can simply rely on our intuition.
        But there are many reasons why you should consider using these methods:</p>

        <ol>
            <li><strong>More formal approach actually improves your intuitive decisions.</strong> At least this
            is what a famous psychologist Daniel Kahnemann says. Even if you choose to make your decision using
            your intuition, you will be much better of, if you do some more formal analysis before you make your final
            choice.</li>
            <li><strong>They help you communicate.</strong> Mathematical methods help you make decisions in a group
            when input from others is needed and they also help you explain why you made a certain decision.</li>
            <li><strong>They Mitigate the effect of cognitive biases.</strong></li>
            <li><strong>Expressing in numbers what can be quantified</strong> can again help you communicate and
            justify your decisons.</li>
        </ol>

        <p>We talk about these reasons in greater detail in our
        <a href="https://medium.com/@MilosSvana/6-reasons-why-bother-with-decision-making-methods-1a3f1c6368c0" target="_blank">
        blog post on Medium.</a></p>

        <p>Of course, the whole decision process requires some time. We therefore don't recommend to use these formal methods
        for trivial decisions, such as chosing an ice-cream flavour in your local supermarket. On the other hand, when
        you are doing a high-stake decision, using techniques of MCDM can significantly improve the results.</p>

        <h2>Authors</h2>

        <p>Hi, I am <strong>Miloš Švaňa</strong> - a PhD student at the Department of
        Systems Engineering at Technical University of Ostrava, Faculty of Economics. Together with my colleagues at the
        department we study how mathematics can be used to make better decisions, especially under risk and uncertainty.
        We also teach several courses on decision-making. If you want to talk feel free to add me to your network on
        <a href="https://www.linkedin.com/in/milo%C5%A1-%C5%A1va%C5%88a-165b633a/" target="_blank">LinkedIn</a> or send
        me an e-mail to <a href="mailto:milos.svana@vsb.cz">milos.svana@vsb.cz</a></p>

        <h2>Application code</h2>

        <p>Decide!'s source code is published on
        <a href="https://gitlab.com/msvana/decide" target="_blank">Gitlab</a> under MIT licence.</p>
    </div>
</template>
