<template>
    <div class="container" style="max-width: 40em">
        <h1 class="mb-3 text-center">Your decision problems</h1>
        <ul class="decisions-list" v-show="decisionProblems.length > 0">
            <li v-for="(problem, problemId) in decisionProblems">
                <router-link :to="`/decision/${problemId}`">
                    <span v-if="problem.name !== ''">{{problem.name}}</span>
                    <span v-else>(Unnamed problem)</span>
                </router-link>
                <a @click="deleteProblem(problemId)"
                   class="btn btn-danger float-right"><i class="bi-trash-fill"></i></a>
            </li>
        </ul>

        <div class="alert alert-light text-center mt-4" v-show="decisionProblems.length === 0">
            You haven't defined a decision problem yet.
        </div>

        <div class="text-center">
            <router-link to="/decision/new" class="btn btn-lg btn-primary mt-4" id="create-new">
                <strong>Create new <br>decision problem</strong>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            decisionProblems: []
        }
    },

    mounted() {
        if(localStorage.getItem('decisionProblems')) {
            let decisionProblems = JSON.parse(localStorage.getItem('decisionProblems'))
            for(const problemId in decisionProblems) {
                this.decisionProblems.push({'name': decisionProblems[problemId].name})
            }
        } else {
            localStorage.setItem('decisionProblems', JSON.stringify([]))
        }
    },

    methods: {
        deleteProblem(problemId) {
            console.log(problemId)
            const problem = this.decisionProblems[problemId]
            if(confirm('Do you really want to delete the "' + problem.name + '" decicion problem?')) {
                this.$delete(this.decisionProblems, problemId)
                console.log(this.decisionProblems)

                if(localStorage.getItem('decisionProblems')) {
                    let decisionProblems = JSON.parse(localStorage.getItem('decisionProblems'))
                    decisionProblems.splice(problemId, 1)
                    localStorage.setItem('decisionProblems', JSON.stringify(decisionProblems));
                }
            }
        }
    }
}
</script>