<template>
    <div>
        <weights v-show="showWeightHelper" @close="showWeightHelper=false" @weightUpdate="updateWeights"
                 :criteria="criteria"></weights>

        <h2>
        <input type="text" class="form-control form-control-lg" id="problem-name"
               placeholder="Name your decision problem" style="max-width: 40em" v-model="name" @change="save">
        </h2>

        <table class="table table-bordered" style="width: auto;">
            <thead class="thead-light">
                <tr>
                    <th style="vertical-align: middle; min-width: 15em">Alternative</th>
                    <th style="vertical-align: middle; min-width: 8em">Final Score</th>
                    <draggable :list="criteriaOrder" @change="save" tag="span" style="display: contents;">
                        <th v-for="cId of criteriaOrder" style="min-width: 15em" scope="col">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Criterion name"
                                           v-model="criteria[cId].name" @change="save">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" @click="removeCriterion(cId)" type="button">
                                            <i class="bi-trash-fill"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label for="type" class="col-sm-5 col-form-label">Type:</label>
                                <div class="col-sm-7">
                                    <select v-model.number="criteria[cId].type" id="type"
                                            class="form-control form-control-sm" @change="save">
                                        <option :value="criterionTypes.NUMERIC">Numeric</option>
                                        <option :value="criterionTypes.BINARY">Yes/No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label for="weight" class="col-sm-5 col-form-label">Weight:</label>
                                <div class="col-sm-7">
                                    <input class="form-control form-control-sm" id="weight" type="number"
                                           v-model.number="criteria[cId].weight" step="any" @change="save">
                                </div>
                            </div>
                            <div class="row">
                                <label for="direction" class="col-sm-5 col-form-label">I prefer:</label>
                                <div class="col-sm-7">
                                    <select v-model.number="criteria[cId].direction" id="direction"
                                            class="form-control form-control-sm" @change="save">
                                        <option :value="directionChoices.MAX">
                                            <template v-if="criteria[cId].type === criterionTypes.NUMERIC">Higher value</template>
                                            <template v-else>Yes</template>
                                        </option>
                                        <option :value="directionChoices.MIN">
                                            <template v-if="criteria[cId].type === criterionTypes.NUMERIC">Lower value</template>
                                            <template v-else>No</template>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </th>
                    </draggable>
                    <th style="vertical-align: middle; min-width: 13em;">
                        <button @click="addCriterion" class="btn btn-primary btn-lg btn-block" id="add-criterion-btn">
                            <i class="bi-plus-square-fill"></i> Add Criterion
                        </button>

                        <button v-if="Object.keys(criteria).length > 1" id="weight-helper-btn"
                                @click="showWeightHelper = true" class="btn btn-light btn-sm btn-block">
                            Help me with weights
                        </button>
                    </th>
                </tr>
            </thead>
            <draggable v-model="alternatives" tag="tbody" @change="save">
            <tr v-for="(alternative, alternativeId) in alternatives">
                <td class="form-group">
                    <div class="input-group">
                        <div style="padding: 0.4em 0.6em 0.4em 0;"><i class="bi-arrows-move"></i></div>
                        <input type="text" v-model="alternative.name" placeholder="Alternative name"
                               class="form-control" @change="save">
                        <div class="input-group-append">
                            <button class="btn btn-danger" @click="removeAlternative(alternativeId)" type="button">
                                <i class="bi-trash-fill"></i>
                            </button>
                        </div>
                    </div>
                </td>
                <td v-if="!allFilled && alternativeId === 0" style="vertical-align: center" :rowspan="alternatives.length">
                    <span class="text-danger">Please fill<br>all values</span>
                </td>
                <td v-if="allFilled" style="vertical-align: middle; text-align: right">
                    <span>{{ finalScore[alternativeId].toFixed(3) }}</span>
                </td>
                <td v-for="criterionId of criteriaOrder" class="form-group">
                    <input v-if="criteria[criterionId].type === criterionTypes.NUMERIC" type="number" step="any"
                           v-model.number="alternative.criteria[criterionId]"
                           :placeholder="criteria[criterionId].name" class="form-control" @change="save">
                    <select v-else v-model.number="alternative.criteria[criterionId]"
                            class="form-control" @change="save">
                        <option disabled :value="null">Please select ...</option>
                        <option :value="1">Yes</option>
                        <option :value="0">No</option>
                    </select>
                </td>
                <td></td>
            </tr>
            </draggable>
            <tr>
                <td v-bind:colspan="criteria.length + 3" class="text-center">
                    <button @click="addAlternative" class="btn btn-primary btn-lg" id="add-alternative-btn">
                        <i class="bi-plus-square-fill"></i> Add Alternative
                    </button>
                </td>
            </tr>
        </table>

        <h2>Additional configuration</h2>
        <div style="max-width: 15em;" class="form-group">
            <label for="decision-method">Decision method:</label>
            <select id="decision-method" class="form-control" v-model="decisionMethod" @change="save">
                <option v-for="dMethod in decisionMethodChoices" :value="dMethod">{{dMethod}}</option>
            </select>

            <transition name="bounce">
                <div class="alert alert-info" v-show="showMethodSwitch">
                    Simple Weighted Average doesn't work well when a value of a minimization criterion is 0.
                    We switched to TOPSIS for you.
                </div>
            </transition>

            <label for="normalization-method">Value normalization:</label>
            <select id="normalization-method" class="form-control" v-model.number="normalizationMethod" @change="save">
                <option value="0">Sum to 1</option>
                <option value="1">Min-Max scale</option>
            </select>
        </div>
    </div>
</template>

<script>
import draggable from 'vuedraggable';
import {DECISION_METHODS, CRITERION_DIRECTIONS, CRITERION_TYPES, score} from '../model';
import Weights from "./weights.vue";

const DEFAULT_CRITERION = {
    name: null,
    direction: CRITERION_DIRECTIONS.MIN,
    weight: 1.0,
    type: CRITERION_TYPES.NUMERIC
};

export default {
    components: {Weights, draggable},

    data: function() {
        return {
            id: undefined,
            criteria: {1: DEFAULT_CRITERION},
            criteriaOrder: [1],
            alternatives: [],
            name: '',
            decisionMethodChoices: DECISION_METHODS,
            decisionMethod: DECISION_METHODS.TOPSIS,
            directionChoices: CRITERION_DIRECTIONS,
            criterionTypes: CRITERION_TYPES,
            normalizationMethod: 0,
            showMethodSwitch: false,
            showWeightHelper: false
        }
    },

    mounted() {
        this.id = this.$route.params.id === 'new' ? 'new' : Number.parseInt(this.$route.params.id)

        if(this.id === 'new') {
            return this.save()
        }

        if(localStorage.getItem('decisionProblems')) {
            const decisionProblems = JSON.parse(localStorage.getItem('decisionProblems'))

            if(decisionProblems.length < this.id + 1) {
                this.$router.push('/decisions')
            }

            let problem = decisionProblems[this.id];
            this.criteria = problem.criteria;
            this.criteriaOrder = problem.criteriaOrder;
            this.alternatives = problem.alternatives;
            this.name = problem.name;
            this.normalizationMethod = problem.normalizationMethod;
            this.decisionMethod = problem.decisionMethod;
        } else {
            this.$router.push('/decisions');
        }
    },

    computed: {
        criterionNextId: function() {
            const maxId = Math.max(...this.criteriaOrder);
            const nextId = maxId + 1;
            return nextId;
        },

        finalScore: function() {
            this.switchToTopsisIfZero();
            return score[this.decisionMethod](this.alternatives, this.criteria, this.normalizationMethod);
        },

        allFilled: function () {
            for(const alternative of this.alternatives) {
                for(const criterion of Object.values(alternative.criteria)) {
                    if(criterion == null || criterion === '') {
                        return false;
                    }
                }
            }

            return true;
        }
    },

    methods: {
        addCriterion: function() {
            const criterionId = this.criterionNextId;
            this.$set(this.criteria, criterionId, Object.assign({}, DEFAULT_CRITERION));
            this.criteriaOrder.push(criterionId);

            for(const variantId in this.alternatives) {
                this.$set(this.alternatives[variantId].criteria, criterionId, null);
            }

            this.save();
        },
        addAlternative: function () {
            let criteriaValuesNew = {};

            for(const cId in Object.keys(this.criteria)) {
                criteriaValuesNew[cId] = null;
            }

            this.alternatives.push({'name': null, 'criteria': criteriaValuesNew});
            this.save();
        },

        updateWeights(newWeights) {
            for(const cId in newWeights) {
                this.criteria[cId].weight = newWeights[cId];
            }

            this.showWeightHelper = false;
            this.save();
        },

        save: function() {
            const problem = {
                'criteria': this.criteria,
                'criteriaOrder': this.criteriaOrder,
                'alternatives': this.alternatives,
                'name': this.name,
                'normalizationMethod': this.normalizationMethod,
                'decisionMethod': this.decisionMethod
            }

            let allProblems = JSON.parse(localStorage.getItem('decisionProblems'))

            if(this.id === 'new') {
                allProblems.push(problem);
                this.id = allProblems.length - 1;
            } else {
                allProblems[this.id] = problem;
            }
            localStorage.setItem('decisionProblems', JSON.stringify(allProblems));
        },

        removeCriterion: function(criterionId) {
            for(const alternative of this.alternatives) {
                this.$delete(alternative.criteria, criterionId);
            }

            this.$delete(this.criteria, criterionId);
            this.criteriaOrder.splice(this.criteriaOrder.indexOf(criterionId), 1);
            this.save();
        },

        removeAlternative: function (alternativeId) {
            this.alternatives.splice(alternativeId, 1);
            this.save();
        },

        switchToTopsisIfZero: function () {
            if(this.decisionMethod === DECISION_METHODS.TOPSIS) {
                return;
            }

            for(const alternative of this.alternatives) {
                for(const criterionId in this.criteria) {
                    let isMin = this.criteria[criterionId].direction === CRITERION_DIRECTIONS.MIN;
                    let isZero = alternative.criteria[criterionId] === 0;

                    if(isMin && isZero) {
                        this.decisionMethod = DECISION_METHODS.TOPSIS;
                        this.save();
                        this.showMethodSwitch = true;

                        let vue = this;
                        setTimeout(function() {
                            vue.showMethodSwitch = false;
                        }, 7000);
                    }
                }
            }
        }
    }
}
</script>