<template>
    <div class="container" style="max-width: 40em">
        <h1 class="mb-3 text-center"><small>Make smarter decisions <br>with </small><strong>DECIDE!</strong></h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <ol class="mt-3">
                    <li>Name your problem</li>
                    <li>Set your criteria</li>
                    <li>Add alternatives to choose from</li>
                    <li><strong>Make a decision!</strong></li>
                </ol>
            </div>
            <div class="col-md-6 text-center">
                <router-link to="/decisions" class="btn btn-lg btn-primary mt-4">
                    <strong>Start deciding now!</strong><br>
                    <small>No account or payment needed</small>
                </router-link>
            </div>
        </div>

        <hr>

        <p>DECIDE! uses mathematical methods of multiple-criteria decision making to help you make better decisions.
            <router-link to="/about">Read more.</router-link></p>
    </div>
</template>