<template>
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Weight calculator</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close" @click="$emit('close')" id="weight-helper-x">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        This tool estimates the weights of your criteria for you. In each criteria pair simply select
                        the criterion you consider to be more important for your decision.
                        Then click on <strong>Save changes</strong>.
                    </p>

                    <ul class="container-fluid">
                        <li v-for="pair in criteriaPairs" class="row text-center criterion-pair">
                            <div class="col-md-5">{{pair.criteria[0].name}}<br>
                                <input type="radio" :name="pair.id" :value="pair.criteria[0].id"
                                       v-model.number="selected[pair.id]" @change="seeSelected">
                            </div>
                            <div class="col-md-2" style="padding: 0.8em 0"><strong>OR</strong></div>
                            <div class="col-md-5">{{pair.criteria[1].name}}<br>
                                <input type="radio" :name="pair.id" :value="pair.criteria[1].id"
                                       v-model.number="selected[pair.id]" @change="seeSelected">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="$emit('close')" id="weight-helper-close">Close</button>
                    <button type="button" class="btn btn-primary" @click="$emit('weightUpdate', weights)" id="weight-helper-save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {scoresToWeights} from '../model';

export default {
    props: ['criteria'],

    data: function() {
        return {
            updatesCounter: 0,
            selected: {}
        }
    },

    mounted() {
        for(const pair of this.criteriaPairs) {
            this.selected[pair.id] = -1;
        }
    },

    methods: {
        seeSelected: function () {
            this.updatesCounter += 1;
        }
    },

    computed: {
        criteriaPairs: function() {
            const criteriaIds = Object.keys(this.criteria);
            let pairs = [];
            let iUsed = [];

            for(const i of criteriaIds) {
                for(const j of criteriaIds) {
                    if(i === j || iUsed.indexOf(j) !== -1) {
                        continue;
                    }

                    pairs.push({
                        'id': i + '-' + j,
                        'criteria': [
                            {'name': this.criteria[i].name ? this.criteria[i].name : 'Criterion ' + (i+1), 'id': i},
                            {'name': this.criteria[j].name ? this.criteria[j].name : 'Criterion ' + (j+1), 'id': j}
                        ]
                    })
                }

                iUsed.push(i);
            }

            return pairs;
        },

        weights: function() {
            const criteriaKeys = Object.keys(this.criteria);
            const scores = Object.values(this.selected);
            const weights = scoresToWeights(scores, criteriaKeys);

            let weightsObject = {};
            for(const c in weights) {
                weightsObject[criteriaKeys[c]] = weights[c];
            }

            return weightsObject;
        }
    },
}
</script>

<style scoped>

</style>