.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.decisions-list {
    list-style: none;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 0;
}

.decisions-list li {
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: block;
    line-height: 2.5em;
    padding: 1em;
}

.modal {
    display: block;
    background: rgba(0, 0, 0, 0.2);
}

.criterion-pair {
    font-size: smaller;
    border-bottom: 1px solid rgba(0,0,0,.1);
}